.article {
    margin-top: 8rem;
}

.article-content {
    height: fit-content;
    align-self: center;
    padding: 0px 2rem;
}

.article-image {
    height: 60vh;
    position: relative;
    overflow: hidden;
    align-self: center;
}

.article-image > img {
    width: 100%;
}

.article-content > h1 {
    @include default-font;
    margin-bottom: 2rem;
}

.article-content > h3 {
    @include default-font;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.article-content > h5 {
    @include default-font;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.article-content > p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.news-nav{
    height: 60vh;
}
