$background: #FFFFFF;
$red_highlight: #D00000;
$green_highlight: #3bc14a;
$blue_highlight: #0fa3b1;
$red_background: #df2935;
$blue_background: #005bb2;
$nuetral_red: #e4112a;
$font_dark: #19323c;
$shadow: #6F8695;

$guarding: #dc1c23;
$monitoring: #1b4084;
$engineering: #007687;
$key_management: #ea7e00;
$helpdesk: #a7bd43;
$professional_services: #0e8ece;
$logo_gray: #83949a;