.footer {
    background-color: $font_dark;
    position: relative;
    margin:0px;
    margin-top: 4rem;
}

.footer-follow {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 250;
    font-style: normal;
    color: $background;
}

.social-icon {
    font-size: 2em;
    font-style: normal;
    margin-right: 3em;
    color: $background;
    cursor: pointer;
}

.social-icon:hover {
    color: $red_highlight;
}

.address {
    color: $background;
    padding-left: 8%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.address > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid $background;
}

.address > div > h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight:300;
    color: $red_highlight;
    padding-bottom: 0.8rem;
}

.address > div > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight:300;
    color: $background;
    line-height: 1.7rem;
}

.deets {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight:300;
    color: $background;
    line-height: 1.2rem;
}

.deet-span {
    color: $red_background!important;
}

.deets > span {
    color: $red_background;
}

.legal {
    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    color: $background;
    text-decoration: none;
}

.legal:hover {
    text-decoration: underline;
    color: $background;
}

.legals {
    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    color: $background;
}

.footer-links-section {
    position: relative;
}

.footer-links-lists {
    padding-top: 3rem;
    height: 100%;
    align-items: center;
}

.footer-links-list {
    list-style-type: none;
    padding-left: 0rem;
}

.footer-link {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 300;
    font-style: normal;
    color: $background;
    text-decoration: none;
    line-height: 2.2rem;
}

.footer-link:hover {
    color: $red_background;
}

@media (max-width: 490px) {
    .social-icon {
        font-size: 1.5em;
    }
}

