{% load static %}

<div class="container-fluid service-carousel-left">
    <div class="row sc-row">
        <div class="col-6 sc-image-side">
            <div class="sc-image-container">
                <div class="sc-image-slides">
                    <div class="image-slide">
                        <img src="{% static 'images/Compressed/Photo_10_Compressed.jpg' %}" alt="Guarding Image" class="sc-image">
                    </div>
                    <div class="image-slide">
                        <img src="{% static 'images/Compressed/Photo_11_Compressed.jpg' %}" alt="Guarding Image" class="sc-image">
                    </div>
                    <div class="image-slide">
                        <img src="{% static 'images/Compressed/Photo_12_Compressed.jpg' %}" alt="Guarding Image" class="sc-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 sc-text-side text-center">
            <div class="sc-text-container">
                <div class="sc-text-slides">
                    <div class="sc-text-slide">
                        <h3 class="sc-title">K9 Teams</h3>
                        <div class="sc-title-underline"></div>
                        <h5 class="sc-text">We offer Dog Services in conjunction with our NASDU accredited partners. 
                            We are acknowledged for consistently maintaining the highest standard for Dog Patrol 
                            Teams We specialise in providing K9 Teams throughout the UK. All our staff hold full Security Industry Authority (SIA) 
                            licences and undergo a comprehensive continuation training program every month. Each assignment is supported by our 24 hour control room, 
                            enabling our Security Officers to respond and deal with incidents as soon as they arise.</h5>
                        <a class="sc-link-right" href="#">SPEAK WITH AN EXPERT <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="sc-text-slide">
                        <h3 class="sc-title">Security Cheese</h3>
                        <div class="sc-title-underline"></div>
                        <h5 class="sc-text">I do not know how to build websites, I have never known how to build websites,
                            and I will probabaly never know how to build websites. I do not know how to build websites, 
                            I have never known how to build websites,and I will probabaly never know how to build websites.
                        </h5>
                        <a class="sc-link-right" href="#">SPEAK WITH AN EXPERT <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="sc-text-slide">
                        <h3 class="sc-title">Send Me Home</h3>
                        <div class="sc-title-underline"></div>
                        <h5 class="sc-text">It took me two days to write this, It took me two days to write this, 
                            It took me two days to write this, It took me two days to write this, It took me two days to write this,
                            It took me two days to write this, It took me two days to write this, It took me two days to write this,
                            It took me two days to write this, It took me two days to write this.
                        </h5>
                        <a class="sc-link-right" href="#">SPEAK WITH AN EXPERT <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sc-controller"><span class="btn-prev"><i class="fas fa-chevron-left sc-left"></i></span><span class="btn-next"><i class="fas fa-chevron-right sc-right"></i></span></div>
</div>