{% extends '_dashbase.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                {% if user.is_authenticated %}
                    <h3 class="mt-5 mb-5">{{ user.email }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3 bg-primary p-3 rounded">
                <a href="{% url 'vacancy' %}">
                    <p class="text-light">Recruitment</p>
                    <p class="text-light">Click here to post new jobs and view applications</p> 
                </a>
            </div> 
            <div class="col-3 bg-primary p-3 rounded">
                <a href="{% url 'news_room' %}">
                    <p class="text-light">News and Blog</p>
                    <p class="text-light">Click here to post an article to the news section or edit previous article</p>
                </a>
            </div>
            <div class="col-3 bg-primary p-3 rounded">
                <a href="{% url 'enquiries' %}">
                    <p class="text-light">Enquiries</p>
                    <p class="text-light">Click here to view enquiries submitted from the site</p>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}